<div class="main-container" [style.height.%]="height">
    <div fxLayout="column" class="szenario-wrapper" fxLayoutGap="10px">
        <mat-card class="card">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content>
                <h1>DNO Cross-Domain Transaktionskosten Rechner <br> (DNO XDTAKRe) </h1>
                <!--  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <mat-form-field appearance="fill" class="title-textfield">
                        <mat-label>Projekttitel</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <button mat-raised-button class="title-button">Projekt anlegen</button>
                    <button mat-raised-button class="title-button">Reset</button>
                </div>-->
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-content>
                <h2> Grundeinstellungen Szenario </h2>
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                    <h3> Anzahl Datendomains </h3>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <mat-form-field appearance="fill" class="title-textfield">
                            <input #input_data_domains matInput type="number" value="2" min="2">
                        </mat-form-field>
                        <button (click)="number_data_domains(input_data_domains.value)" mat-raised-button
                            class="title-button">Anlegen</button>
                    </div>
                    <hr class="main" noshade>
                    <!-- <div *ngFor="let daten_domain of data_domain_map | keyvalue"> -->
                    <div *ngFor="let daten_domain of daten_domains_arr; let daten_domain_number = index">
                        <!--Anzahl Datensätze für DD#{{daten_domain.key}}-->
                        <h3>Anzahl Datensätze für DD#{{daten_domain_number+1}}</h3>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                            <mat-form-field appearance="fill" class="title-textfield">
                                <input #input_data_sets matInput type="number" value="1" min="1">
                            </mat-form-field>
                            <!--(click)="number_data_sets(daten_domain.key, input_data_sets.value)"-->
                            <button (click)="number_data_sets(daten_domain_number+1, input_data_sets.value)"
                                mat-raised-button class="title-button">Anlegen</button>
                        </div>
                    </div>
                    <hr class="main" noshade>
                    <!-- <div *ngFor="let daten_domain of data_domain_map | keyvalue; let number_data_domains = index"> -->
                    <!-- <div *ngFor="let data_set of daten_domain.value; let number_data_sets = index"> -->
                    <div *ngFor="let data_set_array of data_sets_arr; let number_data_sets = index">
                        <!-- Anzahl Variablen für DS#{{number_data_sets+1}} der DD#{{daten_domain.key}} -->
                        <h3>Anzahl Variablen für DS#{{number_data_sets+1}} der DD#{{data_domain_id}}</h3>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                            <mat-form-field appearance="fill" class="title-textfield">
                                <input #input_variables matInput type="number" value="3" min="1">
                            </mat-form-field>
                            <!--(click)="number_variables(daten_domain.key, number_data_sets+1, input_variables.value)"-->
                            <button (click)="number_variables(data_domain_id, number_data_sets, input_variables.value)"
                                mat-raised-button class="title-button">Anlegen</button>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                    <hr class="main" noshade>
                </div>
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                    <h3> Anzahl Analysen </h3>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <mat-form-field appearance="fill" class="title-textfield">
                            <input #input_analysen matInput type="number" value="1" min="1">
                        </mat-form-field>
                        <button (click)="number_analysen(input_analysen.value)" mat-raised-button
                            class="title-button">Anlegen</button>
                    </div>
                    <div *ngFor="let analyse of analysen_arr; let analyse_number = index">
                        <h3> Anzahl Algorithmen für AN#{{analyse_number+1}} </h3>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                            <mat-form-field appearance="fill" class="title-textfield">
                                <input #input_algorithmen matInput type="number" value="3" min="1">
                            </mat-form-field>
                            <button (click)="number_algorithms(analyse_number+1, input_algorithmen.value)"
                                mat-raised-button class="title-button">Anlegen</button>
                        </div>
                    </div>
                </div>
                <hr class="main" noshade>
                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                    <h3> Anzahl Ergebnispräsentationen </h3>
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <mat-form-field appearance="fill" class="title-textfield">
                            <input #input_ep matInput type="number" value="1" min="1">
                        </mat-form-field>
                        <button (click)="number_ep(input_ep.value)" mat-raised-button
                            class="title-button">Anlegen</button>
                    </div>
                    <div *ngFor="let ep of ep_arr; let ep_number = index">
                        <h3> Anzahl Präsentationsmodule für EP#{{ep_number+1}} </h3>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                            <mat-form-field appearance="fill" class="title-textfield">
                                <input #input_pm matInput type="number" value="2" min="1">
                            </mat-form-field>
                            <button (click)="number_pm(ep_number+1, input_pm.value)" mat-raised-button
                                class="title-button">Anlegen</button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <h1> Feld 1: Datendomain </h1>
            <hr class="main" noshade>
            <mat-card-content>
                <div *ngFor="let daten_domain of data_domain_map | keyvalue; let number_data_domains = index">
                    <h2> Datendomain # {{daten_domain.key}} </h2>
                    <div *ngFor="let data_set of daten_domain.value; let number_of_data_sets = index">
                        <h3> Datensatz # {{number_of_data_sets+1}}</h3>
                        <h3> Komplexität Variablen </h3>
                        <em> Likert: 1 (Standardisiert) bis 5 (Hochkomplex) </em>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div *ngFor="let variable of data_set; let number_of_variables = index">
                                <h3>Var# {{daten_domain.key}}.{{number_of_data_sets+1}}.{{number_of_variables+1}}</h3>
                                <mat-slider #variable_slider_datendomain min="1" max="5" step="1" value="3">
                                </mat-slider>
                                {{variable_slider_datendomain.value}}
                            </div>
                        </div>
                        <h3>Einzelpreis Variablen</h3>
                        <em>Preise in Euro</em>
                        <div class="padding-cont" fxLayout="row" fxLayoutAlign="space-evenly center">
                            <div *ngFor="let variable of data_set; let number_of_variables = index">
                                <mat-form-field appearance="fill" class="title-textfield">
                                    <mat-label>Var#
                                        {{daten_domain.key}}.{{number_of_data_sets+1}}.{{number_of_variables+1}}
                                    </mat-label><input #dd_variables matInput
                                        (change)="data_domain_var(daten_domain.key, number_of_data_sets+1, number_of_variables+1, dd_variables.value)"
                                        value=0.00>
                                </mat-form-field>
                            </div>
                        </div>
                        <hr class="between" noshade>
                    </div>
                    <hr class="main" noshade>
                </div>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                    <button (click)="data_domain_sum_kosten()" mat-raised-button class="save-button">Eingaben Feld 1
                        kalkulieren</button>
                    <button mat-raised-button class="save-button">Reset</button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <h1> Feld 2: Analyse </h1>
            <hr class="main" noshade>
            <mat-card-content>
                <div *ngFor="let analyse of  analysen_map | keyvalue; let number_analysen = index">
                    <h2> AN#{{analyse.key}} </h2>
                    <div class="padding-cont" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px"
                        fxLayoutAlign="start stretch">
                        <ng-container *ngFor="let algorithm of analyse.value; let number_of_algorithms = index">
                            <div class="padding-cont" fxFlex="0 1 calc(33.3% - 32px)"
                                fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                                <h3> AL#{{number_of_algorithms+1}} </h3>
                                <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                                    <div
                                        *ngFor="let variable of variables_data_domain_map | keyvalue; let number_variable = index">
                                        <mat-checkbox
                                            (change)="checkbox_analysen(analyse.key, number_of_algorithms+1, number_variable+1, $event)"
                                            class="checkbox-cont"> VAR# {{variable.key}} </mat-checkbox>
                                    </div>
                                    <h3> Komplexität Variable AL# {{number_of_algorithms+1}} </h3>
                                    <mat-slider #variable_slider_analysen min="1" max="5" step="1" value="3">
                                    </mat-slider>
                                    {{variable_slider_analysen.value}}
                                    <h3>Preis in Euro</h3>
                                    <mat-form-field appearance="fill" class="title-textfield">
                                        <mat-label> AN#{{analyse.key}} AL#{{number_of_algorithms+1}}
                                        </mat-label><input #al_preis matInput
                                            (change)="analysen_var(analyse.key, number_of_algorithms+1, al_preis.value)"
                                            value="0.00">
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <hr class="between" noshade>
                </div>
                <hr class="main" noshade>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                    <button (click)="analysen_sum_kosten()" mat-raised-button class="save-button">Eingaben Feld 2
                        kalkulieren</button>
                    <button mat-raised-button class="save-button">Reset</button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <h1> Feld 3: Ergebnispräsentation </h1>
            <hr class="main" noshade>
            <mat-card-content>
                <div *ngFor="let ep of ep_map | keyvalue; let number_ep = index">
                    <h2>EP#{{ep.key}}</h2>
                    <div class="padding-cont" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px"
                        fxLayoutAlign="start stretch">
                        <ng-container *ngFor="let pm of ep.value; let number_of_pm = index">
                            <div class="padding-cont" fxFlex="0 1 calc(33.3% - 32px)"
                                fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                                <h3> PM#{{number_of_pm+1}} </h3>
                                <div fxLayout="column" fxLayoutAlign="space-between center">
                                    <div *ngFor="let analyse of analysen_map | keyvalue; let number_analysen = index">
                                        <mat-checkbox class="checkbox-cont">AN# {{analyse.key}}</mat-checkbox>
                                        <div *ngFor="let algorithm of analyse.value; let number_of_algorithms = index">
                                            <mat-checkbox class="checkbox-sub-cont"> AL#{{number_of_algorithms+1}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <h3> Komplexität Variable PM# {{number_of_pm+1}} </h3>
                                    <mat-slider #variable_slider_present min="1" max="5" step="1" value="3">
                                    </mat-slider>
                                    {{variable_slider_present.value}}
                                    <h3>Preis in Euro</h3>
                                    <mat-form-field appearance="fill" class="title-textfield">
                                        <mat-label> EP#{{ep.key}} PM#{{number_of_pm+1}}
                                        </mat-label><input #pm_preis matInput
                                            (change)="present_var(ep.key, number_of_pm+1, pm_preis.value)" value="0.00">
                                    </mat-form-field>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <hr class="between" noshade>
                </div>
                <hr class="main" noshade>
                <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
                    <button mat-raised-button class="save-button">Eingaben Feld 3 kalkulieren</button>
                    <button mat-raised-button class="save-button">Reset</button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="table-card">
            <h1 class="table-title"> Finale Berechnung der Cross-Domain Koordinationskosten und der Komplexitäten</h1>
            <table mat-table [dataSource]="gesamt_arr" class="mat-elevation-z8">
                <!-- Feld Column -->
                <ng-container matColumnDef="feld">
                    <th mat-header-cell *matHeaderCellDef> Feld# </th>
                    <td mat-cell *matCellDef="let cell"> {{cell.feld}} </td>
                    <td mat-footer-cell *matFooterCellDef> Gesamtbetrag </td>
                </ng-container>
                <!-- Kosten Column -->
                <ng-container matColumnDef="kosten">
                    <th mat-header-cell *matHeaderCellDef> Koordinationskosten </th>
                    <td mat-cell *matCellDef="let cell"> {{cell.kosten | currency:'EUR':true  }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'EUR':true  }} </td>
                </ng-container>
                <!-- Komplexitäten Column -->
                <ng-container matColumnDef="komplex">
                    <th mat-header-cell *matHeaderCellDef> Komplexitäten </th>
                    <td mat-cell *matCellDef="let cell"> {{cell.komplex}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalKomplex()}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </mat-card>
    </div>
</div>