.main-container {
    //position: sticky;
    position: relative;
    top: 0;
    bottom: 0;
    // height: 300%;
    background-image: url("/assets/images/HG_standard.gif");
    // background-size: 70% 100%;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
}

.card {
    background-color: rgb(246,246,246);
    opacity: 0.9;
    padding: auto;
    text-align: center;
}

.projekt-titel {
    display: inline-flex;
}


.szenario-wrapper {
    position: absolute;
    top: 10px;
    height: 150px;
    left: 27px;
    right: 23px;
}

.title-button {
    height: 40px;
    width: 155px;
    background-color: black;
    color: whitesmoke; 
}

.save-button {
    background-color: black;
    color: whitesmoke; 
}

.title-textfield {
    height: 50px;
    width: 250px;
}

hr.between {
    border-top: 0px solid #bbb;
    color: #bbb;
    margin-top: 15px;
    height: 2px;
    width: 20%;
}

hr.main {
    border-top: 0px solid #bbb;
    // border-radius: 5px;
    color: #bbb;
    margin-top: 15px;
    height: 2px;
    width: 40%;
  }
  
  .preise {
      padding-top: 20px;
  }

  .checkbox_algorithms {
      padding-left: 20px;
  }